
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 46, 46);
}

h1 {
    color: rgb(230, 172, 14);
    font-size:40px;
    margin-left: 10px;
}

h2 {
    color: rgb(46, 49, 49);
    font-weight: bolder;
    font-size: 40px;
}

h3 {
    color: rgb(3, 7, 6);
}

main, aside {
    width: fit-content;
    margin: auto;
    background-color: rgb(209, 134, 21); 
    border: solid; 
    border-color: darkgrey; 
    margin-top: 50px;
}

.contact-contain {
    width: 700px;
}

.contact {
    font-weight: bold;
    width: 500px;
    margin-left: 65px;
}

.cont {
    margin-left: 30px;
    padding: 20px;
}

aside {
    margin-top: 15px;
    padding: 30px;
}

.card {
    margin-left: 65px;
    height: 450px;
}

.card-body {
    margin-left: 50px;
}

.screenshot {
    width: 275px;
    height: 275px;
}

.logo img {
    width: 25px;
    height: 25px;
}

.message {
    margin: border-box;
    height: 200px;
}

#portfolio {
    margin-bottom: 100px;
    width: 900px;
}

.content {
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.compress {
    width: 300px;
    height: 250px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(31, 32, 37);
    color: white;
    text-align: center;
}

p {
    padding-top: 10px;
}

/* Increases size of images when screen reaches width of 576px */

@media screen and (max-width: 576px) {

.photo {
    width: 350px;
    height: 350px;

    margin-left: 40px;
    margin-right: 40px;
}

.compress {
    width: 450px;
    height: 300px;
}

    
}



